/OlaMundoSwingNetBeans/target/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/build/
/OlaMundoJavaFX/dist/
/mavenproject1/target/
/JavaFXApplication3/nbproject/private/
/JavaFXApplication3/dist/
/JavaFXApplication3/build/
/OlaMundoJavaFxMobile/target/
/OlaMundoJavaFXapp/target/
